@model MagazineApp1.Models.MagazineTable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MagazineTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Magtitle" class="control-label"></label>
                <input asp-for="Magtitle" class="form-control" />
                <span asp-validation-for="Magtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magdesc" class="control-label"></label>
                <input asp-for="Magdesc" class="form-control" />
                <span asp-validation-for="Magdesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magurl" class="control-label"></label>
                <input asp-for="Magurl" class="form-control" />
                <span asp-validation-for="Magurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magdate" class="control-label"></label>
                <input asp-for="Magdate" class="form-control" />
                <span asp-validation-for="Magdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magimg" class="control-label">Resim Yükle</label>
                <input type="file" asp-for="Magimg" class="form-control" accept=".jpg, .jpeg, .png" />
                <span asp-validation-for="Magimg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
